# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.db

# Logs and text output
*.log
*.txt

# Environment folders
env/
venv/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# VS Code config
.vscode/

# MacOS / Windows system files
.DS_Store
Thumbs.db
